@model IEnumerable<Web.Models.CrossStitch.StitchSuPatternModel>
@{
    ViewData["Title"] = "Updates";
}
@{
    Func<string, string, string> FormatTitle = (id, title) => $"{id} - {title}";
}

<h2>Updates</h2>
<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive">
    <tr>
        <th>Image</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr style="background-color:@d.GetColor()">
            <td>
                <a href="@d.Image.FullImageUrl" target="_blank">
                    <img alt="@d.Image.Description" src="@d.Image.PreviewImageUrl" />
                </a>
            </td>
            <td><a href="@d.Author.ProfileLink" target="_blank">@d.Author.Name</a></td>
            <td><a href="@d.PatternId.PatternLink" target="_blank">@FormatTitle(d.PatternId.ToString(), d.Info.Title)</a></td>
            <td>@d.Info.Description</td>
            <td>@Html.Raw(d.PriceInfo.AsHtmlString())</td>
            <td>@d.Comment()</td>
        </tr>
    }
</table>

