@model PatternDetailsViewModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
<div style="margin: 20px">
    <input type="hidden" asp-for="Id" />
    <img src="@Model.ImageUrl" class="img-thumbnail" alt="@Model.Title" style="max-width: 40%" />
    <dl class="dl-horizontal">
        <dt>@nameof(Model.Title)</dt>
        <dd>@Model.Title</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@nameof(Model.Item)</dt>
        <dd>@Model.Item</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@nameof(Model.Manufacturer)</dt>
        <dd>@Model.Manufacturer</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@nameof(Model.Size)</dt>
        <dd>
            <p style="display: inline">@Model.Size</p>
            <i class="fa fa-pencil" style="margin-left: 10px"></i>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@nameof(Model.KitType)</dt>
        <dd>@Model.KitType</dd>
    </dl>
</div>

