@model PatternModel
@{
    ViewData["Title"] = "Index";
}
<div style="margin: 20px;" class="container">
    <div class="row">
        <div class="col">
            <input type="hidden" asp-for="Id" />
            <img src="@Model.ImageUrl" class="img-thumbnail" alt="@Model.Title" style="max-width: 80%" />
            <dl class="row">
                <dt class="col-4">@nameof(Model.Title)</dt>
                <dd>@Model.Title</dd>
            </dl>
            <dl class="row">
                <dt class="col-4">@nameof(Model.Item)</dt>
                <dd>@Model.Item</dd>
            </dl>
            <dl class="row">
                <dt class="col-4">@nameof(Model.ColorsCount)</dt>
                <dd>@Model.ColorsCount</dd>
            </dl>
            <dl class="row">
                <dt class="col-4">Author</dt>
                <dd>@Model.Author.Name</dd>
            </dl>
            <dl class="row">
                <dt class="col-4">@nameof(Model.Size)</dt>
                <dd>
                    <p style="display: inline">@Model.Size</p>
                    <i class="fa fa-pencil" style="margin-left: 10px"></i>
                </dd>
            </dl>
        </div>
        <div class="col">
            @if (Model.FabricItems != null)
            {
                foreach (var item in Model.FabricItems)
                {
                    <p>@item</p>
                }
            }
            @if (Model.ColorsMap != null)
            {
                foreach (var color in Model.ColorsMap)
                {
                    <h3>@($"{color.Key.Name} - {color.Value.Count()} colors")</h3>
                    foreach (var item in color.Value.OrderBy(p => p.Color))
                    {
                        <p>@item</p>
                    }
                }
            }
        </div>
    </div>
</div>

